# Athena Samples
## Imports

In [11]:
import os

import awswrangler as wr
import pandas as pd
from pyathena import connect
from urllib.parse import quote_plus
from sqlalchemy import create_engine

import boto3

aws_key = os.environ['AWS_KEY']
aws_secret = os.environ['AWS_SECRET']

bucket_name = os.environ['S3_BUCKET_NAME']
staging_bucket_name = os.environ['S3_STAGING_BUCKET_NAME']
region = os.environ['REGION']
schema_name='marcosraw'
s3_staging_dir=f's3://{staging_bucket_name}/pyathena-staging/'
s3_dir=f's3://{bucket_name}/'

## Query Athena

In [16]:
df = wr.athena.read_sql_query("SELECT * FROM studentlocaleducationagencydim", database=schema_name, ctas_approach=True)

df[['studentkey', 'studentlastname', 'studentfirstname']].head()

Empty DataFrame
Columns: [studentkey, studentlastname, studentfirstname]
Index: []

## Load into Athena

In [15]:
if schema_name not in wr.catalog.databases().values:
    wr.catalog.create_database(schema_name)

df = pd.DataFrame({"a": [1, 2, 3, 4, 5]})

table = 'sampledb'

wr.s3.to_parquet(
    df=df,
    path=f'{s3_dir}{schema_name}/{table}',
    dataset=True,
    mode='overwrite',
    database=schema_name,
    table=table
);

In [14]:
wr.catalog.table(database=schema_name, table="studentlocaleducationagencydim")

                       Column Name     Type  Partition Comment
0   studentlocaleducationagencykey   string      False
1                       studentkey   bigint      False
2          localeducationagencykey   bigint      False
3                 studentfirstname   string      False
4                studentmiddlename   string      False
5                  studentlastname   string      False
6        limitedenglishproficiency   string      False
7                       ishispanic  boolean      False
8                              sex   string      False
9                 lastmodifieddate   string      False
10                     extractdate   string       True